# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# VS Code
.vscode/

# Test and coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Misc
.DS_Store
*.swp
*.swo
*.bak
*.tmp

# Ignore local settings
*.local